/*w1761007- Thisura Yapa---*/

/* global class */
a {
	text-decoration: none;
	color: black;
}

*{
	margin:0;
}

/* -------header-------*/
#myHeader {
	background:linear-gradient(110deg,  #FFFFFF  0%, #ffd9b3 90%);
	height: 110px;
	margin: 0;
	width: 100%;
	top: 0;
}

#logo {
	background-image:url('logoluvceylon.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 7px;
	width: 400px;
	height: 80px;
	float: left;
}

.navMenu {
	color: white;
	text-align: center;
	display: inline;
	overflow: hidden;
}

/* social media icons in the navigation bar */
.socialmedia1 {
	float:right;
	margin: 40px 30px 5px 0px; /* top right bottom left */
	font-size: 25px;
}

.socialmedia1 i:hover {
	color: #476b6b;
}

ul {
	list-style-type: none;
}

/* adding styles to navigation bar buttons */
.navButton {
	border: none;
	border-radius: 10px;
	padding: 10px;
	float: left;
	background-color: rgb(255, 255, 255, 0.9);
	color: black;
	cursor:pointer;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif; 
	transition-duration: 0.4s;
	width: 122px;
	margin: 34px 10px 5px;	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

/*adding hover effect to navigation bar buttons */
.navButton:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #ffff66;
}

/* adding extra width to 'responsible travel' button */
#navButtonTravel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 200px;
}
/* -----x--header--x-----*/

/*----heading----*/
.h1{
	text-align:center;
	}

/*----image----*/
.img{
	width:350px;
	height:250px;
	padding-left:375px;
	padding-top:25px;
	}
			
/*----div----*/
.div {
	font-family: Arial, Helvetica,sans-serif;
	overflow: auto;
	border-radius:10px;
	width:900px;	
	height:510px;
	letter-spacing:1px;
	margin:25px 10px 25px 75px;				
    }
			
/*----paragraph----*/
p{
	font-family: Arial, Helvetica,sans-serif;
	padding-left:10px;
	padding-right:20px;
	text-indent:20px;
	letter-spacing:1px;
	}
			
/* ------footer------- */
#footer {
	grid-area: footer;
	background-color: rgb(255, 204, 153, 2);
	height: 100px;
	margin-top: 50px;
}


#copyright {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	margin-left: 500px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.footerButtons {
	height:60px;
	padding:2px;
	width:380px;
	margin: auto;
}
.footerButton {
	border: none;
	border-radius: 10px;
	padding: 10px;
	float: left;
	background-color: none;
	color: black;
	cursor:pointer;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif; 
	transition-duration: 0.4s;
	width: 100px;
	margin: 20px 10px 5px;	/* top right bottom left */
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}


.footerButton:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #99ffcc;
	color: white;
}
/* -----x--footer --x----- */